<!DOCTYPE html>
<html>
    
<head>
  <meta charset="utf-8" />
  <title>NBK</title>

    <script type="text/javascript" src="main.js"></script>
    <link href="reset.css" rel="stylesheet" type="text/css">
    <link href="main1.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></script>
    <script src='jquery.color-RGBa-patch.js'></script>
    <script src='example.js'></script>
    
</head>

<body>

    <div id="container">
        <img class="logo"  src="Logo/logo-lorenum.png"/>
        
        <h5 id="contact">Contact us</h5>
        <h5 id="search">Search</h5>
        <h5 id="register">Register</h5>
        <h5 id="login">Login</h5>

        
        <div class="nav-wrap">
            <ul class="group" id="example-one">
                <li class="current_page_item" selected><a href="#">NBK</a></li>
                <li><a href="#">NBK ARCA</a></li>
                <li><a href="#">NBK MKT</a></li>
                <li><a href="#">INDICES</a></li>
            </ul>
        </div>
        
    <div class="container">
		<ul class="row1">
			<li>SYMBOL</li>
			<li>VOLUME</li>
			<li>LAST PRICE</li>
			<li>CHANGE SEK (%)</li>
		</ul>
		<ul class="row2">
			<li>BAC</li>
			<li>93,632,718</li>
			<li>SEK 280</li>
			<li>-SEK 0,06(-0,360%)</li>
		</ul>
        <ul class="row2">
			<li>PBR</li>
			<li>51,284,568</li>
			<li>SEK 171</li>
			<li>-SEK 0,06(-0,360%)</li>
		</ul>
        <ul class="row2">
			<li>AXP</li>
			<li>34,874,386</li>
			<li>SEK 989</li>
			<li>-SEK 0,06(-0,360%)</li>
		</ul>
        <ul class="row2">
			<li>GER</li>
			<li>33,076,157</li>
			<li>SEK 398</li>
			<li>-SEK 0,06(-0,360%)</li>
		</ul>
        <ul class="row2">
			<li>SDR</li>
			<li>31,958,366</li>
			<li>SEK 536</li>
			<li>-SEK 0,06(-0,360%)</li>
		</ul>
	</div>
    </div>
</body>
</html>